<html>
    <head>

    </head>
    <body>
        <h1>Calculate</h1>
        <form action="{{url_for('calculate')}}" method="post">
            <input type='text' name="Maths" placeholder="maths" required="'required" />
            <input type="text" name="Physics" placeholder="physics" required="required" />
            <input type="text" name="History" placeholder="history" required="required" />
            <button type="submit"  value="Submit">Submit</button>
        </form>





    </body>


    </html>